.msg {
	margin: 5px 0px;
	padding: 5px;
	position: relative;

	.actions {
		position: absolute;
		right: 5px;
		top: 5px;

		.fa:hover {
			color: white;
		}
	}
}

.msg-error {
	@extend .msg;
	background-color: $failed-color;
	border: 1px solid $fade-color;
	color: white;

	* {
		color: white;
	}

}

.msg-info {
	@extend .msg;
	background-color: $info-color;
	color: white;
}

.msg-warn {
	@extend .msg;
	background-color: $warning-color;
	color: $warn-color;
}

.success-msg {
	@extend .msg;
	background-color: $success-color;
	color: white;
}
