.sub-header {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid $fade-color;
	background-color: $bg-color-2;
	overflow: hidden;

	&.sub-line{
		line-height: 30px;
	}

	.title {
		font-size: $font-med;
	}
}
