<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>feedrdr.co</display-name>
	<context-param>
   	 	<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    	<param-value>i18n.message</param-value>
	</context-param>
	<listener>
		<listener-class>feedreader.main.AppContextInit</listener-class>
	</listener>
	<servlet>
		<servlet-name>welcome</servlet-name>
		<servlet-class>feedreader.security.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>welcome</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>restapp</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>feedreader.api.v1</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>restapp</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<error-page>
		<error-code>500</error-code>
		<location>/e/500</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/e/404</location>
	</error-page>
</web-app>