Welcome to feedrdr.co {NAME}, 

To verify your account just click the link below:

{LINK}

Accounts that stay unverified for longer than three days are automatically deleted.

I hope you enjoy the site as much I loved creating it.

I'd love to hear your ideas for the site, please let me know on https://rdr.uservoice.com or send me an email to steven@feedrdr.co.

Best,
Steven, creator feedrdr.co
