* {
	box-sizing: border-box;
}

.block {
	display: block;
}

margin50 {
	margin: 50px;
}

.login {
	margin: auto;
	width: 300px;
	text-align: center;
}

.login-box {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #CACACA;
}

.login-form * {
	padding: 4px;
	border-radius: 2px;
	border-width: 0.8px;
}

.login input {
	margin-bottom: 5px;
	color: #606060;
}

.login button {
	border-radius: 2px;
	background-color: #5372BA;
	color: white;
}

.secondary {
	color: #606060;
	font-size: 0.7em;
}

.secondary a {
	color: #606060;
	text-decoration: none;
}

.secondary a:hover {
	text-decoration: underline;
}