html {
	font-family: "Helvetica";
	font-size: 1em;
	height: 100%;
}

body {
	background-color: #F9F9F9;
	height: 100%;
}

.w80p {
	width: 60%;
}

#center-piece {
	display: table;
	margin: auto;
	width: 60%;
}

@media only screen and (max-device-width: 1200px) {
	.w80p {
		width: 70%;
	}
	#center-piece>div {
		width: 70%;
	}
}

@media only screen and (max-device-width: 900px) {
	.w80p {
		width: 80%;
	}
	#center-piece {
		width: 80%;
	}
}

@media only screen and (max-device-width: 480px) {
	.w80p {
		width: 90%;
	}
	#center-piece {
		width: 90%;
	}
	#center-piece>div {
		display: inline;
	}
}

.h100 {
	height: 100%;
}

.vertical-helper {
	display: inline-block;
}

.margin0 {
	margin: 0px;
}

.bottom10 {
	margin-bottom: 10px;
}

.bottom40 {
	margin-bottom: 40px;
}

.content {
	height: 60%;
}

.header {
	position: relative;
	background-color: white;
	border-bottom: 0.8px solid #D6D6D6;
	margin-bottom: 60px;
	padding: 10px;
	height: 40px;
}

.header>div {
	overflow: hidden;
	height: 100%;
}

.header-btn {
	border: 2px solid #D6D6D6;
	border-radius: 2px;
	padding: 5px 20px;
	margin-top: 5px;
}

.header a {
	text-decoration: none;
	font-weight: normal;
	color: #173C4F;
}

.header .logo {
	height: 100%;
	line-height: 30px;
}

button {
	font-size: 1.1em;
}

.btn {
	text-decoration: none;
	background-color: #5372BA;
	color: white;
	text-align: center;
	border: 0px;
	border-radius: 2px;
	padding: 5px 0px;
}

.btn:hover {
	background-color: #5372BA;
}

input {
	border: 0.8px solid #D6D6D6;
	font-size: 1.1em;
	padding: 2px;
}

#center-piece p {
	font-size: 1.4em;
	color: #173C4F;
	margin-bottom: 20px;
}

#center-piece a {
	color: #173C4F;
}

p.intro {
	font-style: italic;
	margin: 0px 20px 0px 0px;
	line-height: 1.2em;
}

.table {
	display: table;
}

.cell {
	display: table-cell;
}

.r20p {
	margin-right: 20px;
}

.center {
	margin: auto;
}

.text-center {
	text-align: center;
}

.w100p {
	width: 100%;
}

.block {
	display: block;
}

.w50p {
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bold {
	font-weight: bold;
}

.vertical-middle {
	vertical-align: middle;
}

.footer {
	position: absolute;
	bottom: 0px;
	background-color: #FFFFFF;
	width: 100%;
	font-size: 0.8em;
	padding: 10px 0px;
	text-align: center;
	border-top: 1px solid #D6D6D6;
	text-align: center;
}

.footer ul {
	margin: 0 auto;
	list-style: none;
	width: 70%;
	padding: 0px;
}

.footer ul li {
	display: inline-block;
	padding: 0px 10px;
}

.footer ul li:hover {
	text-decoration: underline;
}

.footer ul a {
	text-decoration: none;
	font-size: 0.8em;
	color: #173c4f;
}

.lined30 input {
	height: 30px;
}