Your account is now <b>verified</b> {NAME}.
<br><br>
Thank you for joining. If there's anything I can do to make the application better, please let me know.
<br><br>
Best,<br>
Steven, creator feedrdr.co
<br><br>