<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex
			</pattern>
		</encoder>
	</appender>
	<!--  file appender for cron logs usage :LoggerFactory.getLogger("cronlogs") -->
	<appender name="CRON_LOGS_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.home}/logs/co.feeder.cron.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
			<maxFileSize>100MB</maxFileSize>
		</rollingPolicy>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %L - %msg%n
			</pattern>
		</encoder>
	</appender>
    <!-- additivity=false ensures analytics data only goes to the analytics log -->
    <logger name="cronlogs" level="DEBUG" additivity="false">
        <appender-ref ref="CRON_LOGS_FILE"/>
    </logger>
	<logger name="feedreader.feed.utils.Fetch" level="INFO" />
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="feedreader" level="TRACE" />
</configuration>